<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdm.musicplayer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EditPersonalInfoActivity" />
        <activity android:name=".activities.EditNicknameActivity" />
        <activity android:name=".activities.EditSexActivity" />
        <activity android:name=".activities.EditLocationActivity" />
        <activity android:name=".activities.EditUniversityActivity" />
        <activity android:name=".activities.ChooseToLoginOrRegister" />
        <activity android:name=".activities.PhoneLoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.SetNicknameActivity" />
        <activity android:name=".activities.LocalMusicListActivity" />
        <activity android:name=".activities.DownLoadManageActivity" />
        <activity android:name=".activities.RecentlyPlayActivity" />
        <activity android:name=".activities.MyCollectionActivity" />
        <activity android:name=".activities.HuanfuActivity" />
        <activity android:name=".activities.YinyueBangActivity" />
        <activity
            android:name=".activities.SettingGedan"
            android:theme="@style/activity_popup" />
        <activity android:name=".activities.PlayActivity" />

        <service
            android:name=".service.PlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.CreateGedanActivity" />
        <activity android:name=".activities.ManageGedanActivity" />
        <activity android:name=".activities.MenuActivity"></activity>
	<service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>